:root {
	--text-color		: white;
	--background-color	: #2f2f2f;
	--primary-color		: mediumpurple;
}

body {
	color: var(--text-color);
	background-color: var(--background-color);
}

a {
	color: var(--primary-color);
}

form > input {
	display: block;
	margin-bottom: 2px;
}