{% extends "layout.html" %}

{% block title %}Sign Up{% endblock %}

{% block content %}
	<h1>Sign Up</h1>
	<form action="/signup" method="POST">
		<input placeholder="First and last name" autocomplete="off" type="text" name="name">
		<input placeholder="Mobile number or email" autocomplete="off" type="text" name="contact">
		<input placeholder="Password"		 autocomplete="off" type="password" name="password_1">
		<input placeholder="Repeat Password" autocomplete="off" type="password" name="password_2">
		<input type="submit" name="Register">
	</form>
{% endblock %}

<!--
	<input placeholder="Street" autocomplete="off" type="text" name="street">
	<input placeholder="City" autocomplete="off" type="text" name="city">
	<input placeholder="State" autocomplete="off" type="text" name="state">
	<input placeholder="Zip Code" autocomplete="off" type="text" name="zip_code">
-->