{% extends "layout.html" %}

{% block title %}About Us{% endblock %}

{% block content %}
<div class="about-container">
    <h1>About Us</h1>
    <div class="about-content">
        <div class="about-text">
            <p>
                Welcome to <strong>Cool Cat Development!</strong> We are a passionate team of four software developers who met at Purdue University, united by our love for coding and innovation.
            </p>
            <p>
                Our journey began in the virtual halls of Purdue Global, where we discovered not just our shared skills, but also our vision for creating exceptional software solutions.
            </p>
        </div>

        <div class="about-text mission">
            <p>
                At Cool Cat Development, we believe that great software is a blend of creativity, functionality, and a touch of fun. Our mission is to bring a unique flair to the tech world, crafting applications and fashionable merchandise that not only meet the needs of our clients but also showcase our distinctive style.
            </p>
            <p>
                With a commitment to collaboration and a keen eye for detail, we strive to push the boundaries of what's possible in software development and current fashion. Join us as we show the world what Cool Cat Development is all about!
            </p>
        </div>
    </div>
    <div class="about-image">
        <img src="static/icons/CoolCats.jpeg" alt="CoolCats">
    </div>
</div>
{% endblock %}
